[Unit]
Description=Camera Streaming and Snapshot Server
After=network.target

[Service]
WorkingDirectory=/home/kchauhan/services/rpi-usb-webcam
ExecStart=/home/kchauhan/services/rpi-usb-webcam/.venv/bin/python3 /home/kchauhan/services/rpi-usb-webcam/app_v5.py
Restart=always
Environment=FLASK_ENV=production

[Install]
WantedBy=multi-user.target
